streamlit
openai
langchain
langchain-community
langchain-openai
langchain-groq
langchain-core
langchain-experimental
langchain_astradb
pydantic
neo4j
pdfplumber
python-dotenv
tiktoken
rank_bm25 
PyMuPDF 
tools 
deepeval 
pypdf 
duckduckgo-search
sentence_transformers
langchain_pinecone
pinecone
